In [1]:
import json
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

import seaborn as sns
sns.set(color_codes=True)

In [19]:
d4 = pd.read_csv('~/Desktop/mort2004.csv', nrows=10**4, dtype=object)
# d4C = pd.read_csv('~/Desktop/mort2004.csv', names=['marstat'], dtype=object)

pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

### useful info
For column definitions up to 2004, see: http://www.nber.org/mortality/2003/mort2003.log

For reading in really large csv files: https://stackoverflow.com/questions/25962114/how-to-read-a-6-gb-csv-file-with-pandas

In [21]:
d4.tail()

,rectype,restatus,stateoc,countyoc,exstatoc,popsizoc,staters,statersr,countyrs,cityrs,popsize,metro,exstares,pmsares,popsizrs,popmsa,cmsares,statbth,statbthr,educ89,educ,educflag,monthdth,sex,age,ageflag,ager52,ager27,ager12,ager22,placdth,marstat,weekday,year,injwork,mandeath,methdisp,autopsy,activity,injury,ucod,ucr358,ucr113,ucr130,ucr39,eanum,econdp_1,econds_1,enicon_1,econdp_2,...,enicon_13,econdp_14,econds_14,enicon_14,econdp_15,econds_15,enicon_15,econdp_16,econds_16,enicon_16,econdp_17,econds_17,enicon_17,econdp_18,econds_18,enicon_18,econdp_19,econds_19,enicon_19,econdp_20,econds_20,enicon_20,ranum,record_1,record_2,record_3,record_4,record_5,record_6,record_7,record_8,record_9,record_10,record_11,record_12,record_13,record_14,record_15,record_16,record_17,record_18,record_19,record_20,race,brace,raceimp,racer3,racer5,hispanic,hspanicr
9995,1,1,MA,MA017,MA,0,MA,MA,MA017,99999,9,1,MA,1123,0,1,7,MA,MA,10,NaN,0,1,F,1085,NaN,43,23,11,NaN,6,D,4,2004,U,7,U,N,NaN,NaN,C709,123,36,NaN,15,2,1,1,C709,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,C709,F069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
9996,1,1,MA,MA017,MA,0,MA,MA,MA017,99999,9,1,MA,1123,0,1,7,MA,MA,12,NaN,0,1,F,1072,NaN,40,20,9,NaN,4,M,6,2004,U,7,U,N,NaN,NaN,C349,93,27,NaN,8,2,1,1,C349,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,C349,J449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
9997,1,1,MA,MA017,MA,0,MA,MA,MA017,99999,9,1,MA,1123,0,1,7,MA,MA,17,NaN,0,1,F,1076,NaN,41,21,10,NaN,6,S,7,2004,U,7,U,N,NaN,NaN,C349,93,27,NaN,8,1,1,1,C349,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,C349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
9998,1,1,MA,MA017,MA,0,MA,MA,MA017,99999,9,1,MA,1123,0,1,7,MA,MA,12,NaN,0,1,M,1096,NaN,45,25,11,NaN,6,W,7,2004,U,7,U,N,NaN,NaN,I250,214,62,NaN,21,3,1,1,I461,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,F069,I250,I461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
9999,1,1,MA,MA001,MA,3,MA,MA,MA001,99999,9,1,MA,0743,3,2,0,ZZ,CC,12,NaN,0,1,F,1095,NaN,45,25,11,NaN,6,W,5,2004,U,7,U,N,NaN,NaN,I119,207,56,NaN,20,3,1,1,I119,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,F03,I119,J449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6

In [ ]:
# decide which cols to use
cols = ['countyoc','countyrs','staters','metro','educ89','educ','educflag','sex','age','marstat','weekday','year',]

In [12]:
import numpy as np

In [17]:
np.sort([int(i) for i in d4.ucr358.unique()])

array([ 10,  11,  13,  22,  23,  24,  39,  42,  43,  47,  49,  50,  51,
        52,  53,  54,  56,  61,  67,  68,  73,  74,  75,  77,  78,  79,
        81,  82,  83,  85,  86,  87,  88,  89,  91,  92,  93,  94,  96,
        98,  99, 101, 103, 104, 106, 107, 108, 109, 110, 111, 113, 114,
       115, 117, 118, 120, 122, 123, 124, 125, 127, 129, 130, 131, 132,
       134, 135, 137, 142, 143, 144, 145, 146, 149, 150, 151, 152, 153,
       154, 155, 158, 159, 160, 161, 163, 166, 167, 169, 171, 172, 173,
       175, 176, 178, 179, 180, 181, 184, 186, 187, 188, 189, 190, 191,
       193, 194, 199, 201, 202, 203, 204, 206, 207, 208, 209, 211, 212,
       214, 215, 218, 219, 221, 222, 224, 225, 226, 227, 228, 230, 231,
       233, 235, 236, 237, 238, 239, 241, 242, 243, 245, 246, 250, 253,
       256, 257, 259, 261, 264, 266, 267, 268, 269, 271, 273, 276, 277,
       278, 280, 282, 284, 285, 286, 289, 290, 291, 292, 293, 294, 295,
       296, 298, 300, 301, 302, 304, 305, 306, 308, 309, 311, 312, 313,
       314, 315, 317, 318, 325, 326, 327, 328, 330, 331, 333, 337, 338,
       352, 357, 358, 359, 360, 361, 362, 363, 364, 366, 367, 368, 369,
       370, 371, 372, 373, 374, 378, 379, 380, 384, 386, 387, 388, 392,
       393, 395, 396, 397, 404, 405, 406, 409, 410, 411, 412, 414, 420,
       423, 425, 426, 428, 429, 430, 431, 434, 435, 436, 437, 440, 441,
       443, 448, 451, 454, 456])

2401401